<!DOCTYPE html>
<html lang="en"  ng-app='carStore'>
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <!-- Latest jquery -->
   <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body ng-controller="StoreController as store">

<section class="container-fluid" >
	<div class="col-xs-12 col-md-2">
		<form name="filterForm">
					 <div >
						<div class="input-group">
						<input type="text" class="form-control" placeholder="Search ..." ng-model="filter.search">
						 <span class="input-group-addon " id="basic-addon1">
							 	<span class="glyphicon glyphicon-search"></span>
						 </span>
						</div><!-- /input-group -->
					</div><!-- /.col-lg-6 -->
					<br>
					<div>
						<label for="Brand" >Select Brand :</label>
						<select class="form-control" id="Brand" ng-model="filter.make"  ng-click="store.getmodels(filter.make)">
							<option value=""  selected="selected"> all </option>
							<option ng-repeat="car in store.cars" ng-value="car.name"> {{car.name}} </option>
						</select>
					</div>
					<br>

					<div>
						<label for="model">Select model :</label>
						<select    ng-model="filter.model"  class="form-control" id="model" >
							<option value=""  ng-selected="selected"> all </option>
							<option  ng-repeat="model in store.cars.models| filter:{$: 'filter.make'}"  ng-value="model"> {{model}} </option>
						</select>
					</div>
		</form>
	</div>
<!-- {{store.cars}} -->
	<div class="col-xs-12 col-md-10">

		<div  ng-repeat="car in store.cars |filter: filter.make " >

			<div class="panel panel-default col-xs-12 col-sm-3" ng-repeat="model in car.models|filter:filter.search |filter:filter.model">

				<div class="row panel-heading">
						<h1>{{car.name}}
							<span class="glyphicon glyphicon-star-empty pull-right"   aria-hidden="true"></span>
						 </h1>
						<h1>{{model}} </h1>
				</div>

				<div class="panel-body " ng-controller="PanelController as panel" >

					<button ng-show="car.canPurchase">Add to Cart</button>

					<ul class="nav row nav-pills">
						<li ng-class="{active:panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Description</a></li>
						<li ng-class="{active:panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Specification</a></li>
						<li ng-class="{active:panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)">Reviews</a></li>
					</ul>

					<div class="" ng-show="panel.isSelected(1)">
						<h4>Description</h4>
						<p>DESCRIPTIONS</p>
					</div>
					<div class="" ng-show="panel.isSelected(2)">
						<h4>Specification</h4>
						<blockquote>none yet</blockquote>
					</div>
					<div class="" ng-show="panel.isSelected(3)">
						<h4>Reviews</h4>
						<blockquote>none yet</blockquote>
					</div>
				</div>
			</div>
		</div>

	</div>

</section>


	<script src="assets/angular/angular.min.js"></script>
	<!-- <script src="assets/js/app.js"></script> -->
	<script src="assets/js/app1.js"></script>
</body>
</html>
